Django==5.2.4
django-crispy-forms==2.6
crispy-bootstrap5==2026.3

gunicorn==23.0.0
whitenoise==6.9.0

groq==0.31.0
python-dotenv==1.0.0

numpy==2.3.2
scipy==1.16.2
scikit-learn==1.7.2
joblib==1.5.2
pandas==2.3.2
openpyxl==3.1.5